body 
  position: relative

a:hover
  text-decoration: none !important

.content:not(.custom) 
  max-width 100%

.card {
    blockquote {
    color: #000;
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.show-item {
  margin-bottom: 20px;

  .dropdown-menu {
    position: relative;
    top: 0;
    display: block;
  }
}

blockquote
  padding: 1rem 0 1rem 1rem